
<form method="post" id="formSearch" >
    <div class="form-group">
        @Html.Label("", "fileName", new { @class = "control-label" })
        <input type="text" name="fileName" id="txtfileName" class="form-control" />
        
    </div>
    <div class="form-group">
        @Html.Label("", "SearchText", new { @class = "control-label" })
        <input type="text" name="SearchText" id="txtSearchText" class="form-control" />
      
    </div>

 
        <div class="form-group">

        <input type="button" id="buttonSubmitFormSearch" value="Search File " />

    </div>

    <table border="1">
       
        <tbody>
            
        </tbody>
    </table>



</form>
@section scripts {
    <script>

        $(document).ready(function () {

          

            addSearchTextButtonHandler()

        })
    

    </script>
    
}